@tailwind base;
@tailwind components;
@tailwind utilities;

/* App-specific small helpers */
html {
  scroll-behavior: smooth;
}
body {
  @apply bg-base-100 text-base-content antialiased;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
